<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Registration</title>
</head>
<body>
<form action="register" method="post">
	<label>UserName : </label>
	<input type="text" name="username" />
	<br>
	<label>Email : </label>
	<input type="email" name="email" />
	<br>
	<label>Password : </label>
	<input type="password" name="password" />
	<br>

	<label>Gender : </label>
	<input type="radio" name="gender" value="male">Male
	<input type="radio" name="gender" value="female">Female
	<input type="radio" name="gender" value="other">Other


	<br>
	<label>Role : </label>
	<input type="radio" name="role" value="admin">Admin
	<input type="radio" name="role" value="customer">Customer
	<br>
	<label>Address : </label>
	<textarea name="address"></textarea>
	<br>
	<input type="submit" >

</form>

</body>
</html>